In [16]:
# %pip install -q pandas

In [17]:

import pandas as pd

data = {
    "a": [3, 8, 6, 2],
    "b": [5, 4, 7, 9],
    "c": ["yes", "no", "yes", "no"],
    "d": [2, 7, 4, 6],
    "e": ["low", "high", "low", "medium"],
    "f": [100, 200, 150, 180]
}

df = pd.DataFrame(data)
df

   a  b    c  d       e    f
0  3  5  yes  2     low  100
1  8  4   no  7    high  200
2  6  7  yes  4     low  150
3  2  9   no  6  medium  180

In [18]:
df["y"] = 0

df

   a  b    c  d       e    f  y
0  3  5  yes  2     low  100  0
1  8  4   no  7    high  200  0
2  6  7  yes  4     low  150  0
3  2  9   no  6  medium  180  0

In [19]:
def compute_target(row):
    if (row["a"] + row["b"] > 10) and (row["c"] == "yes"):
        return "fault 2"
    elif (row["d"] > 5) or (row["e"] == "high"):
        return "fault 1"
    else:
        return "fault 3"

In [20]:
df["y"] = df.apply(compute_target, axis=1)

df

   a  b    c  d       e    f        y
0  3  5  yes  2     low  100  fault 3
1  8  4   no  7    high  200  fault 1
2  6  7  yes  4     low  150  fault 2
3  2  9   no  6  medium  180  fault 1

In [21]:
# for idx, row in df.iterrows():
#     df.at[idx, "y"] = compute_target(row)

# df